footer {
  background-color: #4CAF50;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f1f6f1db;
  
}
